.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
}

.check-theme {
    margin-inline: auto;
}

.track {
    border-radius: 20px;
    height: 30px;
    position: relative;
}

.thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 5px;
    transition: transform .3s;
}

/* positions */

#t2:checked ~ .track .thumb {
    transform: translateX(25px);
}

#t3:checked ~ .track .thumb {
    transform: translateX(50px);
}